.container-card {
  background-color: white;
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
}

.title-panel {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
}

.group-card {
  min-height: 200px;
  padding-bottom: 1rem;
}

.teams-panel {
  margin-top: 0.25rem;
  display: flex;
  gap: 0.25rem;
}

.team {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 0.25rem;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  //padding: 0.5rem;
  background-color: rgba($color: #6366f1, $alpha: 0.05);
  border-left: 5px solid #6366f1;
  border-right: 5px solid #6366f1;
}

.player {
  padding: 0.5rem;
  flex: 1;
  text-align: center;
  font-size: 1.25rem;
}

.title-panel.selected {
  //outline: 2px solid gray;
  background-color: #09090b;
  color: whitesmoke;
}

.container-card.selected {
  background-color: rgba($color: #a3e635, $alpha: 0.1);
}
