.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 5rem;
}

.tournament-list {
  display: flex;
  gap: 1rem;
}

.tournament {
  height: 100px;
  width: 200px;
  background-color: rgb(120, 172, 217);
  display: flex;
  align-items: center;
  justify-content: center;
}
