<app-header
  [selectedTournament]="selectedTournament"
  (onNewTournament)="onNewTournament()"
></app-header>
<div class="content">
  <app-create-tournament
    *ngIf="!selectedTournament"
    (onCreateTournament)="onTournamentCreated($event)"
  ></app-create-tournament>

  <div
    *ngIf="selectedTournament && !selectedTournament.gameStarted"
    class="tournament"
  >
    <div style="display: flex; flex-direction: column; gap: 1rem">
      <div class="groups-panel">
        <div class="draw-panel">
          <app-current-team
            #currentTeam
            (teamCompleted)="onTeamComplete($event)"
            (onStartDraw)="onStartDraw()"
            [groupAndPoolAvailable]="
              selectedTournament.categories.length > 0 &&
              selectedTournament.groups.length > 0
            "
          ></app-current-team>
        </div>
        <h3>Groups</h3>
        <div class="groups">
          <app-group
            *ngFor="let group of selectedTournament.groups"
            [group]="group"
            [playerUnavailable]="isPlayerUnavailable()"
            (selectGroup)="onSelectGroup($event)"
            [selectedGroup]="selectedGroup"
            (deleteGroup)="onDeleteGroup($event)"
            (dataUpdated)="storageService.save(selectedTournament)"
            (playerFree)="onPlayerFree($event)"
            class="group"
          ></app-group>
        </div>
        <!-- <button
          mat-flat-button
          (click)="onRandomGroupSelect()"
          *ngIf="selectedTournament.groups.length > 0"
        >
          Random Select
        </button> -->
      </div>
      <h3>Player Pools</h3>
      <div class="player-pools">
        <app-player-pool
          *ngFor="let category of selectedTournament.categories"
          (deleteCategory)="onDeleteCategory($event)"
          (pickPlayer)="currentTeam.onPickPlayer($event)"
          [category]="category"
          class="player-pool"
        ></app-player-pool>
      </div>
    </div>
  </div>

  <div
    *ngIf="selectedTournament && selectedTournament.gameStarted"
    class="tournament"
  >
    <h3>Points Table</h3>
    <div class="points-tables groups">
      <app-points-table
        *ngFor="let group of selectedTournament.groups"
        [group]="group"
        class="group"
      ></app-points-table>
    </div>

    <h3>Group Matches</h3>
    <div class="groups">
      <app-group-matches
        *ngFor="let group of selectedTournament.groups"
        [group]="group"
        class="group"
      ></app-group-matches>
    </div>
  </div>
</div>
